:root {
    --bg: #F2EAE2;
    --btn_color: #3D8168;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--bg);
    max-width: 1440px;
}



img {
    border: none;
    max-width: 100%;
}